<footer class="container">
    <hr class="soften">
    <p>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </p>

<script src="{{ "/js/jquery.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-386.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-transition.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-alert.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-modal.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-dropdown.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-scrollspy.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-tab.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-tooltip.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-popover.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-button.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-collapse.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-carousel.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-typeahead.js" | relURL }}"></script>
<script src="{{ "/js/bootstrap-affix.js" | relURL }}"></script>
<script>
    _386 = { 
        fastLoad:{{ .Site.Params.loadfastload }},
        onePass:{{ .Site.Params.loadonepass }}, 
        speedFactor:{{ .Site.Params.loadspeedfactor }}
    };

    // Free updated script to get the actual year !! no more document.write or stuff!!
</script>
