{{ define "main" }}

<div class="row-fluid navmargin">
    <div class="page-header">
        <h1><center><strong>{{ .Title }}</center></strong></h1>
    </div>
    {{ if .Params.Date }}
    <p class="lead">
      [ {{ .Date.Format "Jan 2, 2006"}} ] Filed under: 
      {{ range .Params.categories }}
      <a href="{{ (urlize (printf "categories/%s/" .)) | absLangURL }}"> {{ . }}</a>&nbsp;
      {{ end }}Tags:   
      {{ range .Params.tags }}
      <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
      {{ end }}
    </p>
    {{ end }}
      {{ .Content }}
</div>

{{ end }}
